{% extends 'shopping/base.html' %}
{% block body %}
{% load staticfiles %}

{% if mobile_names %}
    <div class="abc">
        {% for phones in mobile_names %}
            <li>{{ phones }}</li>
        {% endfor %}
    </div>
{% endif %}




<table width = "100%" border = "0" cellspacing = "0" cellpadding = "0">
<tr>
<td align = "center" valign = "middle">
<form method = "post" action = "{% url 'shopping:mobile' %}" >{% csrf_token %}
<table width = "250" border = "1" cellspacing = "0" cellpadding = "0">
<tr>
<td colspan = "2" align  = "center"><h2> Mobiles </h2>
</td></tr>

{% if phones_name %}
    {% for phones in phones_name %}


         {% if forloop.counter0|divisibleby:2 %}
             <tr>
         {% endif %}

            <td align = "center" valign = "middle">
                <a href="{{ phones.code }}">
                <img src = "{{ phones.image.url }}" width="200px" height="200px">
                </a><br><br>
            <input type= "checkbox" name = "mobile" value = "{{ phones.code }}" ><a href="{{ phones.code }}">{{ phones.name }}</a>
            <br>{{ phones.price }}/-
            </td>

         {% if forloop.counter|divisibleby:2 or forloop.last %}
             </tr>
         {% endif %}



    {% endfor %}
{% endif %}









<td colspan= "2" align = "center" >
<input type = "submit" name = "buy" value = "Buy Now" />
</table>
</form></td></tr>
</table>



{% endblock %}
